In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("datafile/prlmis-data-full.csv")

In [4]:
print(data.head(10))

   YEAR  AGECAT  SEX  MARRIED  EDUCAT  EMPLOY18  CTYMETRO  HEALTH  MENTHLTH  \
0    15       3    1        0       2         2         0       3         4
1    15       3    0        0       3         1         0       6         7
2    15       2    0        0       3         0         0       4         2
3    15       1    0        0       1         0         0       5         0
4    15       5    0        0       3         0         0       5         2
5    15       3    0        0       2         2         0       5         3
6    15       3    0        0       2         0         0       1         0
7    15       3    0        0       5         0         0       3         0
8    15       3    1        0       4         0         0       6         6
9    15       2    0        0       4         1         0       5        10

   PRLMISEVR  ...  PRLANY  HEROINEVR  HEROINUSE  TRQLZRS  SEDATVS  COCAINE  \
0          1  ...      10          1          5        5        0        5
1          1  ...      10          1          5        5        0        4
2          1  ...       9          1          5        5        0        4
3          1  ...       9          1          5        5        0        3
4          1  ...       9          1          5        5        3        2
5          1  ...       8          1          5        5        0        2
6          1  ...       8          1          5        4        0        5
7          1  ...       8          1          5        0        0        3
8          1  ...       8          1          5        3        0        5
9          1  ...       8          1          5        5        0        4

   AMPHETMN  HALUCNG  TRTMENT  MHTRTMT
0         2        2        6        0
1         3        5        5        0
2         2        3        7        2
3         2        2        0        0
4         2        2        7        0
5         2        4        0        0
6         4        3        0        0
7         1        0        0        0
8         2        2        8        0
9         3        5        6        0

[10 rows x 21 columns]

In [5]:
print(data.tail())

        YEAR  AGECAT  SEX  MARRIED  EDUCAT  EMPLOY18  CTYMETRO  HEALTH  \
170312    17       1    1        0       1         0         2       0
170313    17       1    1        0       1         0         1       0
170314    17       1    1        0       1         0         3       0
170315    17       1    0        0       1         0         3       0
170316    17       2    1        1       3         0         2       0

        MENTHLTH  PRLMISEVR  ...  PRLANY  HEROINEVR  HEROINUSE  TRQLZRS  \
170312         0          0  ...       0          0          0        0
170313         0          0  ...       0          0          0        0
170314         0          0  ...       0          0          0        0
170315         0          0  ...       0          0          0        0
170316         0          0  ...       0          0          0        0

        SEDATVS  COCAINE  AMPHETMN  HALUCNG  TRTMENT  MHTRTMT
170312        0        0         0        0        0        0
170313        0        0         0        0        0        0
170314        0        0         0        0        0        0
170315        0        0         0        0        0        0
170316        0        0         0        0        0        0

[5 rows x 21 columns]

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170317 entries, 0 to 170316
Data columns (total 21 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   YEAR       170317 non-null  int64
 1   AGECAT     170317 non-null  int64
 2   SEX        170317 non-null  int64
 3   MARRIED    170317 non-null  int64
 4   EDUCAT     170317 non-null  int64
 5   EMPLOY18   170317 non-null  int64
 6   CTYMETRO   170317 non-null  int64
 7   HEALTH     170317 non-null  int64
 8   MENTHLTH   170317 non-null  int64
 9   PRLMISEVR  170317 non-null  int64
 10  PRLMISAB   170317 non-null  int64
 11  PRLANY     170317 non-null  int64
 12  HEROINEVR  170317 non-null  int64
 13  HEROINUSE  170317 non-null  int64
 14  TRQLZRS    170317 non-null  int64
 15  SEDATVS    170317 non-null  int64
 16  COCAINE    170317 non-null  int64
 17  AMPHETMN   170317 non-null  int64
 18  HALUCNG    170317 non-null  int64
 19  TRTMENT    170317 non-null  int64
 20  MHTRTMT    170317 non-null  int64
dtypes: int64(21)
memory usage: 27.3 MB
None

In [7]:
print(data.describe(include='all'))

                YEAR         AGECAT            SEX        MARRIED  \
count  170317.000000  170317.000000  170317.000000  170317.000000
mean       15.994892       2.772078       0.524927       1.286448
std         0.816042       1.409875       0.499380       1.517425
min        15.000000       1.000000       0.000000       0.000000
25%        15.000000       2.000000       0.000000       0.000000
50%        16.000000       3.000000       1.000000       1.000000
75%        17.000000       4.000000       1.000000       2.000000
max        17.000000       5.000000       1.000000       4.000000

              EDUCAT       EMPLOY18       CTYMETRO         HEALTH  \
count  170317.000000  170317.000000  170317.000000  170317.000000
mean        3.063623       0.901419       1.493726       2.330020
std         1.457736       0.933172       1.231702       1.054522
min         1.000000       0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000       2.000000
50%         3.000000       1.000000       2.000000       2.000000
75%         4.000000       2.000000       3.000000       3.000000
max         5.000000       2.000000       3.000000       7.000000

            MENTHLTH      PRLMISEVR  ...         PRLANY      HEROINEVR  \
count  170317.000000  170317.000000  ...  170317.000000  170317.000000
mean        0.950698       0.107077  ...       0.378893       0.020157
std         1.903671       0.309212  ...       0.795211       0.140536
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.000000       0.000000  ...       0.000000       0.000000
50%         0.000000       0.000000  ...       0.000000       0.000000
75%         1.000000       0.000000  ...       1.000000       0.000000
max        10.000000       1.000000  ...      10.000000       1.000000

           HEROINUSE        TRQLZRS        SEDATVS        COCAINE  \
count  170317.000000  170317.000000  170317.000000  170317.000000
mean        0.031389       0.223988       0.051304       0.179459
std         0.266169       0.719446       0.325596       0.561877
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         5.000000       5.000000       5.000000       5.000000

            AMPHETMN        HALUCNG        TRTMENT        MHTRTMT
count  170317.000000  170317.000000  170317.000000  170317.000000
mean        0.153825       0.327947       0.061133       0.208828
std         0.500246       0.869154       0.543367       0.652826
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         5.000000       5.000000      10.000000       8.000000

[8 rows x 21 columns]

In [8]:
print(data.isnull().sum())

YEAR         0
AGECAT       0
SEX          0
MARRIED      0
EDUCAT       0
EMPLOY18     0
CTYMETRO     0
HEALTH       0
MENTHLTH     0
PRLMISEVR    0
PRLMISAB     0
PRLANY       0
HEROINEVR    0
HEROINUSE    0
TRQLZRS      0
SEDATVS      0
COCAINE      0
AMPHETMN     0
HALUCNG      0
TRTMENT      0
MHTRTMT      0
dtype: int64

In [11]:
duplicate_rows = data.duplicated()

In [12]:
print(f"Number of duplicate rows: {duplicate_rows.sum()}")

Number of duplicate rows: 94669

In [13]:
data = data.drop_duplicates()

In [14]:
print(f"Number of rows after removing duplicates: {data.shape[0]}")

Number of rows after removing duplicates: 75648

In [15]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 75648 entries, 0 to 170316
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   YEAR       75648 non-null  int64
 1   AGECAT     75648 non-null  int64
 2   SEX        75648 non-null  int64
 3   MARRIED    75648 non-null  int64
 4   EDUCAT     75648 non-null  int64
 5   EMPLOY18   75648 non-null  int64
 6   CTYMETRO   75648 non-null  int64
 7   HEALTH     75648 non-null  int64
 8   MENTHLTH   75648 non-null  int64
 9   PRLMISEVR  75648 non-null  int64
 10  PRLMISAB   75648 non-null  int64
 11  PRLANY     75648 non-null  int64
 12  HEROINEVR  75648 non-null  int64
 13  HEROINUSE  75648 non-null  int64
 14  TRQLZRS    75648 non-null  int64
 15  SEDATVS    75648 non-null  int64
 16  COCAINE    75648 non-null  int64
 17  AMPHETMN   75648 non-null  int64
 18  HALUCNG    75648 non-null  int64
 19  TRTMENT    75648 non-null  int64
 20  MHTRTMT    75648 non-null  int64
dtypes: int64(21)
memory usage: 12.7 MB
None

In [20]:
print(data.head(10))

   YEAR  AGECAT  SEX  MARRIED  EDUCAT  EMPLOY18  CTYMETRO  HEALTH  MENTHLTH  \
0    15       3    1        0       2         2         0       3         4
1    15       3    0        0       3         1         0       6         7
2    15       2    0        0       3         0         0       4         2
3    15       1    0        0       1         0         0       5         0
4    15       5    0        0       3         0         0       5         2
5    15       3    0        0       2         2         0       5         3
6    15       3    0        0       2         0         0       1         0
7    15       3    0        0       5         0         0       3         0
8    15       3    1        0       4         0         0       6         6
9    15       2    0        0       4         1         0       5        10

   PRLMISEVR  ...  PRLANY  HEROINEVR  HEROINUSE  TRQLZRS  SEDATVS  COCAINE  \
0          1  ...      10          1          5        5        0        5
1          1  ...      10          1          5        5        0        4
2          1  ...       9          1          5        5        0        4
3          1  ...       9          1          5        5        0        3
4          1  ...       9          1          5        5        3        2
5          1  ...       8          1          5        5        0        2
6          1  ...       8          1          5        4        0        5
7          1  ...       8          1          5        0        0        3
8          1  ...       8          1          5        3        0        5
9          1  ...       8          1          5        5        0        4

   AMPHETMN  HALUCNG  TRTMENT  MHTRTMT
0         2        2        6        0
1         3        5        5        0
2         2        3        7        2
3         2        2        0        0
4         2        2        7        0
5         2        4        0        0
6         4        3        0        0
7         1        0        0        0
8         2        2        8        0
9         3        5        6        0

[10 rows x 21 columns]